<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <strong><%= @album.name %></strong> editing
      </div>
      <div class="modal-body">
      <%= bootstrap_form_for @album , {remote: true} do |f| %>
        <%= f.text_field :name , :required => true , :maxlength => 50 %>
        <%= f.text_area :description , :maxlength => 300 %>
        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
</div>