<section class="row">
  <section class="col-md-8">
    <%=render 'photos/photos' %>
  </section>
  <section class="col-md-4">
  	<div class="row" id="album-options">
  		<div class="panel panel-default">
	  		<div class="panel-heading">
	  			Album Options
	  		</div>
	  		<div class="panel-body">
	  			<ul>
	  				<li><%= link_to "Add or remove images", add_to_album_path(id: @album.id, type: 'out' , first: true),
							      {remote: true, 'data-toggle' => "modal", 'data-target' => "#modal-window"} %>
					  </li>
  					<li>
  						<%= link_to "Delete album" , album_path(@album) , {method: :delete , remote: true , 
  							  data: {confirm: "No photos will be deleted. Continue?"}} %>
  					</li>
  					<li>
  						<%= link_to "Change album settings" , edit_album_path , 
                  {remote: true , "data-toggle" => "modal" , "data-target" => "#modal-window"} %>
  					</li>
	  			</ul>
	  		</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="panel panel-default">
  			<div class="panel-heading">
  				Album description
  			</div>
  			<div class="panel-body">
  				<span class="label label-danger">
            <%= link_to "Owner #{@album.profile.name}", @album.profile  %>
          </span>
  				<span class="label label-primary">Created at <%= time_tag @album.created_at %></span>
  				<span class="label label-success">Has <%= pluralize @album.photos.count , "image" %> </span>
          <span class="label label-primary"><%= pluralize @album.views , 'view' %></span>
          <span class="label label-warning">
            <% if @album.public %> Public
            <% else %> Private <% end %>
          </span>
  			</div>
  		</div>
  	</div>
  </section>
</section>